extends ../layouts/default

block content
  .row
    .col-md-6.login-container
      h1 Node Twitter
      .row.justify-content-center.text-center
        form.signup_form(action='/auth/local', method='post')
          .row
            .col-md-6
              label(for='email') email
            .col-md-6
              input(type="text", name='email', value='', placeholder="type in ur email")
          .row
            .col-md-6
              label(for='password') password
            .col-md-6
              input(type="password", name='password', value='', placeholder="type in ur password")
          .row
            .col-md-4
            .col-md-4
              button(type='submit' class="btn btn-primary btn-lg btn-block login-btn") 
                span.login-using-github Sign In
              
            .col-md-4
          .row
            .col-md-4
            .col-md-4
              a(href="/signup", class="btn btn-primary btn-lg btn-block login-btn")
                span.login-using-github Sign Up
            .col-md-4
  
        
  .row.justify-content-center.text-center.stats-parent-container
    .col-md-3
      span.status-count #{tweetCount}
      h5 Tweets Created

    .col-md-3
      span.status-count #{userCount}
      h5 Unique Users

    .col-md-3
      span.status-count #{analyticsCount}
      h5 Visitors

      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li = error.type
